<main class="main">
  <chat-canvas [emptyHistoryTemplate]="welcomeMessage"></chat-canvas>
</main>

<ng-template #welcomeMessage>
  <div class="empty-history">
    <div class="agent-header">
      <div class="agent-header-part agent-name">
        <strong>{{ agentName() }}</strong>
      </div>
    </div>
    <br />

    <p class="empty-history-text">
      I help you orchestrate tasks across multiple agents.
    </p>
    <div class="suggestion-chips">
      <button
        mat-stroked-button
        class="chip"
        (click)="sendMessage('List Chinese restaurants in New York')"
      >
        <mat-icon>restaurant</mat-icon>
        List restaurants
      </button>
      <button
        mat-stroked-button
        class="chip"
        (click)="sendMessage('List all contacts')"
      >
        <mat-icon>contacts</mat-icon>
        List contacts
      </button>
      <button
        mat-stroked-button
        class="chip"
        (click)="sendMessage('Show me charts')"
      >
        <mat-icon>analytics</mat-icon>
        Show me charts
      </button>
    </div>
  </div>
</ng-template>
